@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #eff6fc;
}

.bg_chat_Image {
  /* background-image: url("./assets/images/bg-chat.png"); */
  background-image: "./assets/images/bg-chat.png";
  background-size: "100% 100%";
  background-position: center;

  z-index: 4;
}

.container {
  position: relative;
  width: 200px;
}

.container input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #222;
  padding: 8px;
}

.container label {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(105, 105, 105, 0.7);
  text-transform: uppercase;
  pointer-events: none;
  transition: 0.5s;
  font-weight: bold;
}

.container input:valid ~ label,
.container input:focus ~ label {
  color: rgb(10, 131, 212);
  transform: translateY(-15px);
  font-size: 0.6rem;
}

.container i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #222;
}

.container i:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #9c27b0, #ff1b69, #4620cc, #117ed8);
  animation: animate 3s linear infinite;
}
